.neighborhood {
  stroke: #30110d;
  stroke-width: 1px;
  /* fill: #97bc62ff; */
  transition: fill 40ms;
  cursor: pointer;
}

/* .neighborhood:hover {
  fill: #2c5f2d;
} */

.value-none {
  opacity: 0.5;
}

/* 
  .broad-none {
    fill: white;
    stroke: none;
  }

  .broad-northgate {
    fill: grey;
    stroke: grey;
  } */
