.neighborhood {
  stroke: #f2f5ea;
  stroke-width: 1px;
  fill: #4e6070;
  transition: fill 40ms;
  cursor: pointer;
}

.hovered {
  fill: #6c859b;
}

.correct {
  fill: #58b09c;
}

.wrong {
  fill: #f25f5c;
}

/* 
  .broad-none {
    fill: white;
    stroke: none;
  }

  .broad-northgate {
    fill: grey;
    stroke: grey;
  } */
