.mapSvg {
  height: auto;
  max-height: 100vh;
  padding: 10px 0 10px 0;
}

.hood-title {
  margin-top: 5rem;
  text-align: center;
}

/* 
.v-center {
  display: flex;
  align-items: center;
  text-align: center;
} */
